<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brionac.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.brionac.entity.domain.Order">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="productNo" column="product_no" jdbcType="VARCHAR"/>
            <result property="productSpecs" column="product_specs" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="contactWay" column="contact_way" jdbcType="VARCHAR"/>
            <result property="payPrice" column="pay_price" jdbcType="DOUBLE"/>
            <result property="payAmount" column="pay_amount" jdbcType="INTEGER"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="orderState" column="order_state" jdbcType="VARCHAR"/>
            <result property="acceptAddress" column="accept_address" jdbcType="VARCHAR"/>
            <result property="returnState" column="return_state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_no,order_time,
        product_id,product_no,product_specs,
        user_id,user_account,user_name,
        contact_way,pay_price,pay_amount,
        pay_type,order_state,accept_address,
        return_state
    </sql>
</mapper>
