<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brionac.mapper.ProductBrandMapper">

    <resultMap id="BaseResultMap" type="com.brionac.entity.domain.ProductBrand">
            <id property="brandId" column="brand_id" jdbcType="INTEGER"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="brandDescribe" column="brand_describe" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        brand_id,brand_name,brand_describe
    </sql>
</mapper>
