<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brionac.mapper.ReturnGoodsMapper">

    <resultMap id="BaseResultMap" type="com.brionac.entity.domain.ReturnGoods">
            <id property="returnId" column="return_id" jdbcType="INTEGER"/>
            <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userNumber" column="user_number" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="returnPrice" column="return_price" jdbcType="DOUBLE"/>
            <result property="operatorNumber" column="operator_number" jdbcType="VARCHAR"/>
            <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
            <result property="dealTime" column="deal_time" jdbcType="TIMESTAMP"/>
            <result property="reasonId" column="reason_id" jdbcType="INTEGER"/>
            <result property="returnReason" column="return_reason" jdbcType="VARCHAR"/>
            <result property="returnState" column="return_state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        return_id,apply_time,order_id,
        order_no,user_number,user_name,
        return_price,operator_number,operator_name,
        deal_time,reason_id,return_reason,
        return_state
    </sql>
</mapper>
