<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brionac.mapper.SpecsMapper">

    <resultMap id="BaseResultMap" type="com.brionac.entity.domain.Specs">
            <id property="specsId" column="specs_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="specsName" column="specs_name" jdbcType="VARCHAR"/>
            <result property="specsDesc" column="specs_desc" jdbcType="VARCHAR"/>
            <result property="specsInPrice" column="specs_in_price" jdbcType="DOUBLE"/>
            <result property="specsPrice" column="specs_price" jdbcType="DECIMAL"/>
            <result property="specsStock" column="specs_stock" jdbcType="INTEGER"/>
            <result property="isStockout" column="is_stockout" jdbcType="TINYINT"/>
            <result property="specsImg" column="specs_img" jdbcType="VARCHAR"/>
            <result property="specsStatus" column="specs_status" jdbcType="INTEGER"/>
            <result property="saleTime" column="sale_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        specs_id,product_id,specs_name,
        specs_desc,specs_in_price,specs_price,
        specs_stock,is_stockout,specs_img,
        specs_status,sale_time
    </sql>
</mapper>
